$white: #ffffff;
$black: #000000;

$light-gray: #f2f2f2;
$gray: #c3beba;

$red: #7e131b;
$purple: #722a90;
$teal: #017575;
$olive: #797509;
$orange: #b25f03;
$yellow: #ffcb17;

$light-blue: #006bb6;
$medium-blue: #044795;
$dark-blue: #00284c;
